body, .mdl-layout__header-row {
    background: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: auto;
}

input {
    width: 100%;
}

form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid grey;
    float: left;
    width: 100%;
    background: none;
}
  
form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    margin-left: -34px;
    margin-top: 0px;
}

ul li {
    list-style: none;
}

.logo {
    width: 200px;   
}

.logo-menu {
    width: 80%;
}

.ml20 {
    margin-left: 20px;
}

/*  Buttons  */

.buttons-wrapper {
    float: right;
}

.cream-button {
    background: #fcd3c1;
    border: 1px solid #fcd3c1;
    border-radius: 20px;
    width: 200px;
    padding: 8px 20px 5px 20px; 
    margin-right: 5px; 
    margin-left: 20px;  
}

.blue-button {
    background: #c1e6ee;
    border: 1px solid #c1e6ee;
    border-radius: 20px;
    width: 200px;
    padding: 8px 20px 5px 20px; 
    margin-left: 5px;   
}

.pay-button {
    background: #e01c22;
    border: 1px solid #e01c22;
    border-radius: 20px;
    width: 80%;
    padding: 5px 20px; 
    margin-left: 5px; 
    color: #fff;  
}

/*  Alignment  */

.right {
    float: right;
}

/*  Colors  */

.red {
    color: #e01c22 !important;
}

.black {
    color: #000;
}

/*  Google Material class overwrites  */

.mdl-tabs {
    margin-top: 30px;
}

.mdl-layout-title {
    margin-right: 6%;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after  {
    background:  #e01c22 !important;
    width: 100%;
}

.mdl-layout__drawer-button {
    background: #e01c22 !important;
    margin: 0 !important;
    border-bottom-right-radius: 10px;
}

.mdl-navigation__link {
    color: #000;
}   

.mdl-layout__header {
    box-shadow: none !important;
}

.mdl-layout--fixed-tabs .mdl-layout__tab-bar {
    background: #fff !important;
    color: #000;
}

.mdl-layout__header {
    background: none !important;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: #000 !important;
    font-weight: bold;
    text-transform: none;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:hover, .mdl-tabs.is-upgraded .mdl-tabs__tab:hover { 
    text-decoration: none;
    color: #c4c4c4;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab { 
    color: #c4c4c4 !important;
    font-weight: bold;
    text-transform: capitalize;
}

.mdl-layout__header-row {
    padding: 0 40px 0 60px !important;   
}

.mdl-navigation__link {
    color: #000 !important;
}

/*  Product  */

.product {
    background: #fff;
    padding: 10px;
    min-height: 500px;
}

.product-price {
    background: #fff;
    padding: 20px;
    min-height: 500px;
}

.search-icon {
    margin-left: -30px;
}

.polaroid {
    padding-top: 20px;
}

.share {
    margin-left: 10px;
}

.product-header {
    margin-top: 50px;
}

.add-to-cart {
    margin-left: 5px;
    vertical-align: super;
}

.fav {
    color: #feb507;
}

.price {
    font-weight: bold;
    margin-top: -10px;
}

.category {
    height: 100px;
    margin: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    filter: drop-shadow(0 0 0.1rem lightgrey);
    border-radius: 10px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    white-space: nowrap; 
    word-wrap: break-word; 
    padding: 5px; 
    font-size: 12px;  
}

/*  Media Queries  */

@media only screen and (max-width: 1025px) {
    .product, .product-info, .product-price {
        width: 100%;
    }

    .divider {
        display: none;
    }

    .cream-button {
        border-radius: 20px;
        width: 100%;
        margin: 0; 
    }

    .blue-button {
        border-radius: 20px;
        width: 100%;
        margin: 10px 0px
    }

    .category {
        width: 12%;
    } 
    
    form.search-bar input[type=text] {
        width: 96%;
    }

    .watch {
        width: 100%;
    }   
}


@media only screen and (min-width: 1025px) {
    .category {
        width: 12%;
    } 
}

@media only screen and (min-width: 600px) and (max-width: 1025px) {
    .category {
        width: 30%;
    }    
}

@media only screen and (max-width: 600px) {
    .category {
        width: 43%;
    }    
}


